<form method="post" action="{{ path('agency_delete', {'id': agency.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agency.id) }}">
    <button class="btn btn-danger float-right">Delete</button>
</form>
