{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macro %}

{% block title %}Home page{% endblock %}

{% block stylesheets %}
    {% if app.user %}
        <link rel="stylesheet" type="text/css"
              href="{{ path('custom_assets', {'id': app.user.id, 'filename': 'custom_style', 'extension': 'css'}) }}">
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        {% set userId = (app.user ? app.user.id : 0) %}

        {{ macro.custom_template(userId, '_jumbotron') }}
    </div>
{% endblock %}
