{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macro %}

{% block title %}Home page{% endblock %}

{% block stylesheets %}
      {% set userId = (app.user ? app.user.id : 0) %}
        <link rel="stylesheet" type="text/css"
              href="{{ path('custom_assets', {'id': userId, 'filename': 'custom_style', 'extension': 'css'}) }}">
{% endblock %}

{% block body %}
    {% set userId = (app.user ? app.user.id : 0) %}

    <div class="container">
        {{ macro.custom_template(userId, '_header') }}
    </div>
{% endblock %}
